{% extends "HTML/layout.html"}
{% block title %}
SW=PRS
{% endblock %}

{% block content %}
<div class="container-fluid" style="background-color:#F44336;color:#fff;height:100px;">
	<h1>SW-PRS</h1>
	<p>Software Patch Review Site</p>
</div>
<nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="100">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#SPRS Serch">SW-PRS</a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav">
				<li class="dropdown"><a class="dorpdown-toggle" data-toggle="dropdown" href="#">Main<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">webOS3.5</a></li>
						<li><a href="#">webOS3.0</a></li>
						<li><a href="#">webOS2.0</a></li>
						<li><a href="#">webOS1.0</a></li>
						<li><a href="#">NetCast</a></li>
						<li><a href="#">Low</a></li>
						<li><a href="#">ODM</a></li>
						<li><a href="#">ProJector</a></li>
					</ul>
				</li>
				<li><a href="#">Patch 등록</a></li>
				<li class="dropdown"><a class="dorpdown-toggle" data-toggle="dropdown" href="#">변경사항 및 CLCA 현황<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">Change Code Review</a></li>
						<li><a href="#">Testing</a></li>
						<li><a href="#">Complete</a></li>
						<li><a href="#">CLCA Condition</a> </li>
						<hr>
						<li><a href="#">QE Test Item</a> </li>
					</ul>
				</li>
				<li><a href="#">Write CLCA</a></li>
				<li class="dropdown"><a class="dorpdown-toggle" data-toggle="dropdown" href="#">시료 이동 현황<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">Get Sample</a></li>
						<li><a href="#">Move Sample</a></li>
						<li><a href="#">Return Sample</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
<div id="SPRS Serch" class="jumbotron text-center">
	<h1>Search</h1>
	<!--<hr>-->
	<!--<input type="text" value="webOS1.0" disabled>-->
	<form action="/search" class="form-inline" method="get">
		<input type="search" class="form-control" size="50" placeholder="SW-PRS 검색" required>
		<!--<button type="button" class="btn btn-default active">검색</button>-->
		<!--<input id="q" aria-hidden="true" autocomplete="off" name="q" tabindex="-1" type="url" jsaction="mousedown:ntp.fkbxclk" style="opacity: 0;">-->
	</form>
</div>
{% endblock %}